.figureList {
    display: flex;
    flex-wrap: wrap;
}

.figListItem {
    border: solid 4px rgb(97, 0, 97);
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(41, 41, 41);
}

.figListStats {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.figListStatsNotAdmin {
    display: grid;
    grid-template-columns: 2fr 2fr;
 }

.listInput {
    width: 4em;
    border: solid 1px rgb(97, 0, 97);
    border-radius: 2px;
}

